<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="35" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/aqualauncher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/aqualauncher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AquaSTPApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="35">
        <activity
            android:name=".Activities.HandoverRemarksActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.FiltersDailyLogActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SensorsDailyLogActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MeterDailyLogActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.BlowersDailyLogActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.PumpMotorDailyLogActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.GenerateSTPdetails"
            android:exported="false" />
        <activity
            android:name=".Activities.RepairTwoUploadActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.RepairBreakUpActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.RepairTwoImageListActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.IncidentDocumentsUploadActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.IncidentImageUploadActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.IncidentImageDocSelectActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ConsumptionDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.LabTestDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.RepairDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ChangePasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SelectSTPLocationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activities.WelcomeSupervisorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.WelcomeCustomerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.WelcomeManagerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.WelcomeUserActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.WelcomeOwnerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.AboutActivity"
            android:exported="false"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AquaSTPApp" />
        <activity
            android:name=".Activities.ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.VerifyNumberOTPActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.VerifyUserNameOTPActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.VerifyEmailOTPActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ResetPasswordNumberActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ResetPasswordUserNameActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ResetPasswordEmailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.RecoveryPasswordWithActivity"
            android:exported="false"
            android:label="@string/title_activity_recovery_password_with"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AquaSTPApp" />
        <activity
            android:name=".Activities.SliderScreenActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.LoginSignupActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="Fragments.LoginFragment"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>