<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission
        android:name="android.permission.START_FOREGROUND_SERVICES_FROM_BACKGROUND"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/aqualauncher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/aqualauncher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AquaSTPApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Activities.RepairBreakUpActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.RepairTwoImageUploadActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Incident_documents_upload_Activity"
            android:exported="false" />
        <activity
            android:name=".Activities.Incident_image_upload_Activity"
            android:exported="false" />
        <activity
            android:name=".Activities.Incident_Image_doc_Select_Activity"
            android:exported="false" />
        <activity
            android:name=".Activities.IncidentReportingActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Consumables_Details_Activity"
            android:exported="false" />
        <activity
            android:name=".Activities.Incident_Details_Activity"
            android:exported="false" />
        <activity
            android:name=".Activities.LabTest_Details_Activity"
            android:exported="false" />
        <activity
            android:name=".Activities.Repair_Details_Activity"
            android:exported="false" />

        <receiver
            android:name=".Activities.OTP_Receiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Activities.ChangePasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SelectLocationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.PumpsFragment"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.OwnerDashBoard"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.WelcomeSupervisor"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.WelcomeCustomer"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.WelcomeManager"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.WelcomeUser"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.WelcomeOwner"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.AboutActivity"
            android:exported="false"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AquaSTPApp" />
        <activity
            android:name=".Activities.ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.VerifyNumberOTP"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.VerifyUserNameOTP"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.VerifyEmailOTP"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ResetPasswordNumber"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ResetPasswordUserName"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ResetPasswordEmail"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.RecoveryPasswordWith"
            android:exported="false"
            android:label="@string/title_activity_recovery_password_with"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AquaSTPApp" />
        <activity
            android:name=".Activities.SliderScreen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.LoginSignupActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.LoginFragment"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts"
            android:screenOrientation="portrait" />
    </application>

</manifest>